<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UtilityPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.kernel" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.4.0" newVersion="8.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.commons" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.4.0" newVersion="8.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.io" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.4.0" newVersion="8.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.layout" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.4.0" newVersion="8.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.1.0" newVersion="6.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <UtilityPDF.Properties.Settings>
      <setting name="CompressCompleted" serializeAs="String">
        <value>Compress &gt;&gt;&gt; COMPLETED &lt;&lt;&lt;</value>
      </setting>
      <setting name="CompressLvl_0" serializeAs="String">
        <value>VERY LOW COMPRESS --&gt; MAX QUALITY</value>
      </setting>
      <setting name="CompressLvl_1" serializeAs="String">
        <value>LOW COMPRESS --&gt; HIGH QUALITY</value>
      </setting>
      <setting name="CompressLvl_2" serializeAs="String">
        <value>MEDIUM COMPRESS --&gt; MEDIUM QUALITY</value>
      </setting>
      <setting name="CompressLvl_3" serializeAs="String">
        <value>HIGH COMPRESS --&gt; LOW QUALITY</value>
      </setting>
      <setting name="GenericMessageError" serializeAs="String">
        <value>An error occurred: </value>
      </setting>
      <setting name="LblCompressInProgress" serializeAs="String">
        <value>Compress PDF in progress...</value>
      </setting>
      <setting name="LblCompressionLvl" serializeAs="String">
        <value>Compression LEVEL</value>
      </setting>
      <setting name="LblMergeInProgress" serializeAs="String">
        <value>Merge PDF in progress...</value>
      </setting>
      <setting name="LblMsgInputPDF_Extr" serializeAs="String">
        <value>PDF file from EXTRACT TEXT</value>
      </setting>
      <setting name="LblMsgOutputDIR_Extr" serializeAs="String">
        <value>Directory Output TXT File</value>
      </setting>
      <setting name="LblMsgOutputDIR_Merge" serializeAs="String">
        <value>Directory Output Merged PDF</value>
      </setting>
      <setting name="LblMsgSelLang" serializeAs="String">
        <value>Select the language that OCR use</value>
      </setting>
      <setting name="LblPanelCompress" serializeAs="String">
        <value>Compress PDF</value>
      </setting>
      <setting name="LblPanelExtract" serializeAs="String">
        <value>Extract Text From PDF Using OCR</value>
      </setting>
      <setting name="LblPanelMerge" serializeAs="String">
        <value>Merge PDF</value>
      </setting>
      <setting name="MergeCompleted" serializeAs="String">
        <value>Merge &gt;&gt;&gt; COMPLETED &lt;&lt;&lt;</value>
      </setting>
      <setting name="SpecificMessageErrorIO" serializeAs="String">
        <value>An IO error occurred: </value>
      </setting>
      <setting name="TxtAbortBtn" serializeAs="String">
        <value>Abort</value>
      </setting>
      <setting name="TxtCompressBtn" serializeAs="String">
        <value>Compress</value>
      </setting>
      <setting name="TxtExitBtn" serializeAs="String">
        <value>Exit</value>
      </setting>
      <setting name="TxtExtractBtn" serializeAs="String">
        <value>Extract</value>
      </setting>
      <setting name="TxtMergetBtn" serializeAs="String">
        <value>Merge</value>
      </setting>
      <setting name="TxtOutputDirBtn" serializeAs="String">
        <value>Select DIR </value>
      </setting>
      <setting name="TxtResetBtn" serializeAs="String">
        <value>Reset</value>
      </setting>
      <setting name="TxtSelectPDFBtn" serializeAs="String">
        <value>Select PDF</value>
      </setting>
      <setting name="WarnConfirmAbort" serializeAs="String">
        <value>Do you confirm extraction &gt;&gt;&gt; ABORT &lt;&lt;&lt; ?</value>
      </setting>
      <setting name="WarnSelectOutDirCOMP" serializeAs="String">
        <value>If a PDF file with the same name already exists (OUTPUT file will have the SAME NAME_COMPRESSED as the selected PDF file) in the folder you select, it will be overwritten!!!</value>
      </setting>
      <setting name="WarnSelectOutDirMERGE" serializeAs="String">
        <value>If a PDF file with the same name already exists (PDF_MERGED file will have the SAME NAME + MERGED as the first selected PDF file) in the folder you select, it will be overwritten!!!</value>
      </setting>
      <setting name="WarnSelectOutDirTXT" serializeAs="String">
        <value>If a TXT file with the same name already exists (TXT file will have the SAME NAME.TXT as the selected PDF file) in the folder you select, it will be overwritten!!!</value>
      </setting>
      <setting name="InfoCompleteExtraction" serializeAs="String">
        <value>Extraction &gt;&gt;&gt; COMPLETED &lt;&lt;&lt;</value>
      </setting>
      <setting name="WarnAbortedExtraction" serializeAs="String">
        <value>Extraction &gt;&gt;&gt; ABORTED &lt;&lt;&lt; !!!</value>
      </setting>
      <setting name="trainerDataFolder" serializeAs="String">
        <value>tessdata</value>
      </setting>
      <setting name="csvLangFilename" serializeAs="String">
        <value>lang.csv</value>
      </setting>
      <setting name="LblPanelConvDOCX" serializeAs="String">
        <value>Convert PDF to DOCX</value>
      </setting>
      <setting name="TxtConvertBtn" serializeAs="String">
        <value>Convert</value>
      </setting>
      <setting name="LblConvertInProgress" serializeAs="String">
        <value>Convert PDF in progress...</value>
      </setting>
      <setting name="WarnSelectOutDirDOCX" serializeAs="String">
        <value>If a DOCX file with the same name already exists (DOCX file will have the SAME NAME_CONVERT.DOCX as the selected PDF file) in the folder you select, it will be overwritten!!!</value>
      </setting>
      <setting name="ConvertCompleted" serializeAs="String">
        <value>Convert &gt;&gt;&gt; COMPLETED &lt;&lt;&lt;</value>
      </setting>
    </UtilityPDF.Properties.Settings>
  </applicationSettings>
</configuration>
